<!-- <button class="xls" style="margin-left: 80%; " mat-raised-button >
  <span class="material-icons">
    save_alt
    </span>
    <span>XLS</span>
</button>

<button class="pdf"style="margin-left: 10px;" mat-raised-button>
  <span class="material-icons">
    save_alt
    </span>
    <span>PDF</span>
</button> -->

<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input
      matInput
      type="text"
      (keyup)="doFilter(filteredValue.value)"
      placeholder="Filter"
      #filteredValue
    />
  </mat-form-field>
  <!--add new class-->
  <button
    fxFlex="40%"
    style="margin-left: 70%"
    mat-mini-fab
    color="grey"
    (click)="openDialog()"
    matTooltip="Add new class"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<mat-table [dataSource]="dataSource" matSort align="center">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef mat-sort-header
      >Description</mat-header-cell
    >
    <mat-cell *matCellDef="let element">{{ element.description }}</mat-cell>
  </ng-container>

  <ng-container class="space" matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Options</mat-header-cell>
    <mat-cell *matCellDef="let class">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        matTooltip="more options"
        matTooltipPosition="right"
      >
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="viewClass(class)">
          <mat-icon>view_list</mat-icon>
          <span>View</span>
        </button>
        <button mat-menu-item (click)="editDialog(class)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
          <!-- <div *ngIf="editState && itemToEdit.id == item.id"></div> -->
        </button>
        <button mat-menu-item (click)="deleteAlert(class)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator [pageSize]="8" [pageSizeOptions]="[1, 5, 8, 10, 15, 20]">
</mat-paginator>
